.intro {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 0%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.bells {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.count {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 32px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);
}
